{{#each saved}}
<div class="articlecard text-center" id={{this._id}}>

<h2>
    <a href="{{this.url}}" target="_blank">{{this.title}}</a>

</h2>

<p class="articlesummary">
    {{this.summary}}
</p>
<form action="/save/{{this.id}}" method="POST"> 
    <button type="button" class="btn btn-secondary btn-sm" id="addComment" value="{{this._id}}">Add Comment</button>
    </form>
</div>
{{/each}}
